BODY {
  color: white;
  background: #181922;
  font-family: Futura, "Trebuchet MS", sans-serif;
  margin: 3em auto;
  font-style: italic;
  text-align: center;
}

#lagger {
  padding: 20px 10px;
}

#lag {
  width: 260px;
  vertical-align: text-bottom;
}

#val {
  display: inline-block;
  text-align: right;
  width: 3em;
}

#link {
  margin: 6em auto;
}

A {
  color: #42f;
}